<html lang="en">
    <head>
        <title>{{title}}</title>
        {{{deps}}}
    </head>
    <body>
        <div class="sandbox-container row">

            <div class="row">
                {{>navbar}}
            </div>

            <hr/>

            <h1>Fluid Sandbox: {{title}}</h1>

            <div class="row">
                <p>
                    This is a prototype of the Fluid Sandbox, a learning environment in which you can experiment with the
                    concepts behind Fluid, and with the individual components distributed with <a href="http://docs.fluidproject.org/infusion/development/">Infusion</a>.
                </p>
            </div>
        </div>
    </body>
</html>